{% extends "base.html" %}

{% block content %}

<h2 class="text-2xl font-bold mb-6">Edit Product</h2>

<div class="bg-white p-6 rounded shadow space-y-4">

<input id="name" class="border p-2 w-full rounded">
<input id="desc" class="border p-2 w-full rounded">
<input id="price" class="border p-2 w-full rounded">
<input id="qty" class="border p-2 w-full rounded">

<button onclick="updateProduct()"
class="bg-blue-500 text-white px-4 py-2 rounded">
Update
</button>

</div>

<script src="/static/js/auth_guard.js"></script>
<script>
requireAuth();
</script>
<script src="/static/js/edit_product.js"></script>

{% endblock %}